
Recursion_base/obj/Debug/net5.0/Recursion_base.AssemblyInfoInputs.cache
Recursion_base/.vs/Recursion_base/v16/.suo
Recursion_base/obj/Debug/net5.0/Recursion_base.assets.cache
Recursion_base/obj/Debug/net5.0/Recursion_base.GeneratedMSBuildEditorConfig.editorconfig
Recursion_base/obj/project.assets.json
Recursion_base/obj/project.nuget.cache
Recursion_base/obj/Recursion_base.csproj.nuget.dgspec.json
Recursion_base/obj/Recursion_base.csproj.nuget.g.targets
Recursion_base/obj/Recursion_base.csproj.nuget.g.props
Recursion_base/bin/Debug/net5.0/Recursion_base.dll

obj/
bin/